@{
    Layout = "_Layout";
    ViewData["Title"] = "Emergency";
}

<div style="display: flex; justify-content: center; align-items: center; height: 90vh; background: linear-gradient(to bottom right, #ef5350, #f48fb1); color: white; font-family: Arial, sans-serif; text-align: center; flex-direction: column;">
    <img src="~/images/emergency.png" alt="Ambulance" style="width: 150px; margin-bottom: 20px;" />
    <h2>Ambulance and Rescue Team are on the way</h2>
    <p>Please stay calm, the first aider will arrives as soon as possible.</p>
</div>
